footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    background-color: #56CCF2;
    padding: 1rem 3rem ;
    margin-top: 3rem;
}
 h2{
    color: white;
    font-size: 4rem;
}